
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>


</head>
<body>
    <div>

        <input name="Account" />
        <input name="Password" />
        <button onclick="login()">登陆</button>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>

        function login() {
            $.ajax({
                url: "/Login/LoginAsync",
                method: "post",
                data: { Account: "TEST", Password: "000" },
                success: function (data) {
                    console.log(data);
                }
            })
        }
    </script>
</body>
</html>
