
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    
</head>
<body>
    <div> 
        <form method="post" action="/Home/LoginAsync">
            <input name="Account" />
            <input name="Password" />
            <button onclick="">登陆</button>
        </form>
    </div>
</body>
</html>
